# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store

# Vercel
.vercel/

# Coverage
coverage/

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json