fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg[binary]

pydantic
email-validator>=2.0.0
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

httpx

pytest

python-dotenv
